<div class="row">
	<h2>Specify the Details of the house:</h2>
	<input type='text' class="form-control" ng-model="nickName" placeholder="House Name">
	<input type='text' class="form-control" ng-model="imgSrc" placeholder="Photo URL">
	<input type='text' class="form-control" ng-model="address" placeholder="Address">
	<input type='text' class="form-control" ng-model="city" placeholder="City">
	<input type='text' class="form-control" ng-model="state" placeholder="State">
	<input type='text' class="form-control" ng-model="zipCode" placeholder="Zip Code">
	<input type='text' class="form-control" ng-model="forSale" placeholder="For Sale/NOT for Sale">
	<input type='text' class="form-control" ng-model="salePrice" placeholder="Price">
	<input type='text' class="form-control" ng-model="estimatedPrice" placeholder="Zestimate">
	<input type='text' class="form-control" ng-model="discount" placeholder="How good a deal is it?">
	<input type='text' class="form-control" ng-model="estimatedMortgage" placeholder="Estimated Mortgage">
	<button class="btn btn-success btn-xl" ng-click="addNewHouse()">Add</button>
	<button class="btn btn-warning btn-xl" ng-click="changeView('list')">Cancel</button>
</div>